<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    testdox="true"
    verbose="true"
    cacheResult="false">
    
    <testsuites>
        <testsuite name="simple">
            <file>./tests/unit/SimpleEncryptionTest.php</file>
            <file>./tests/unit/EndpointStandaloneTest.php</file>
        </testsuite>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/unit/</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">./tests/integration/</directory>
        </testsuite>
        <testsuite name="all">
            <directory suffix="Test.php">./tests/</directory>
            <directory suffix="-test.php">./tests/</directory>
            <directory suffix="test.php">./tests/</directory>
        </testsuite>
    </testsuites>
    
    <coverage>
        <include>
            <directory suffix=".php">./includes/</directory>
            <directory suffix=".php">./admin/</directory>
            <directory suffix=".php">./public/</directory>
        </include>
        <exclude>
            <directory suffix=".php">./tests/</directory>
            <directory suffix=".php">./vendor/</directory>
            <directory suffix=".php">./.git/</directory>
            <directory suffix=".php">./node_modules/</directory>
        </exclude>
    </coverage>
    
    <php>
        <const name="WP_TESTS_DOMAIN" value="example.org" />
        <const name="WP_TESTS_EMAIL" value="admin@example.org" />
        <const name="WP_TESTS_TITLE" value="Test Blog" />
        <const name="WP_PHP_BINARY" value="php" />
        <const name="WP_TESTS_FORCE_KNOWN_BUGS" value="true" />
        
        <!-- Plugin-specific test constants -->
        <const name="GA4_TEST_MODE" value="true" />
        <const name="GA4_DISABLE_BOT_DETECTION" value="true" />
    </php>
    
    <!-- Logging moved to coverage section above -->
</phpunit>